
.movable {
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  cursor: move;
}
.movable input {
  cursor: default;
}

.modify{
  background-color: aqua;
  color: white;
  padding: 5rem;
  resize: both;
  overflow: auto;
}